@page "/app/cart"

<div class="cart-page">

    <!-- PAGE HEADER -->
    <div class="cart-header">
        <div>
            <h1>🛒 Shopping Cart</h1>
            <p>Your selected products ready for checkout</p>
        </div>

        <span class="cart-count">
            3 Items
        </span>
    </div>

   

</div>