@inherits LayoutComponentBase

<div class="app-wrapper">
    <header class="navbar navbar-expand-lg navbar-light bg-white shadow-sm">
        <div class="container-fluid">

            <!-- Brand -->
            <NavLink href="/" class="navbar-brand fw-bold">
                🧺 QuickBasket
            </NavLink>

            <!-- Toggle button -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#mainNav">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Menu -->
            <div class="collapse navbar-collapse" id="mainNav">

                <!-- Left menu -->
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <NavLink href="/app/products" class="nav-link">
                            Products
                        </NavLink>
                    </li>

                </ul>

                <!-- Search -->
                <form class="d-flex me-3">
                    <input class="form-control me-2"
                           type="search"
                           placeholder="Search products..." />
                    <button >
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>
                </form>

                <NavLink href="/cart" class="btn btn-outline-dark me-2">
                    🛒 Cart (0)
                </NavLink>


            </div>

        </div>
    </header>

    <main class="main-content"> 
        @Body
    </main>

    <footer class="footer">
        <div class="container">

            <div class="footer-grid">

                <div class="footer-box">
                    <h5>🧺 QuickBasket</h5>
                    <p>Fresh groceries delivered fast to your doorstep.</p>
                </div>

                <div class="footer-box">
                    <h6>Quick Links</h6>
                    <NavLink href="/">Home</NavLink>
                    <NavLink href="/app/products">Products</NavLink>
                    <NavLink href="/cart">Cart</NavLink>
                </div>

                <div class="footer-box">
                    <h6>Contact</h6>
                    <p>📍 Dhaka, Bangladesh</p>
                    <p>📞 +880 123 456 789</p>
                    <p>✉ support@quickbasket.com</p>
                </div>

            </div>

            <hr />

            <div class="footer-bottom">
                © 2025 QuickBasket. All rights reserved.
            </div>

        </div>
    </footer>
</div>